.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 20px 0px; */

  margin-bottom: 10px;
}

.pagination-controls {
  width: 100%;
  max-width: 500px;
  display: flex;
  /* justify-content: space-around; */
}

.pagination-controls button {
  font-size: 18pt;
  /* line-height: 3px; */

  background-color: #ffe46c;
  color: #884c14;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: background-color 0.1s;

  width: 65px;
  width: 25%;
  height: 35px;
  padding-bottom: 4px;
  margin: 5px;
  /* margin-bottom: 10px; */

  /* display: inline-block; */
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

@media (hover: hover) {
  .pagination-controls button:hover {
    background-color: #e6bb00;
  }
}

.page-counter {
  display: block;
  font-family: var(--stylized-font);
}
