.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
}

.pagination-controls button {
  font-size: 15pt;
  line-height: 3px;

  background-color: #c83c24;
  color: #f0c434;

  padding: 10px 20px 14px 20px;
  margin: 5px;
  margin-bottom: 10px;

  display: inline-block;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.page-counter {
  display: block;
  font-family: var(--stylized-font);
}
