.catalog-wrapper {
  margin-top: 50px;
}

.catalog {
  max-width: min(90vw, 1600px);
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.filter {
  grid-column: 1 / 2;
}

.catalog-item-list {
  grid-column: 2 / 3;
}

/* Mobile view ***************************************************************/
@media (max-width: 720px) {
  .catalog-wrapper {
    margin-top: 20px;
  }

  .catalog {
    display: flex;
    flex-direction: column;
    /* max-width: 90vw; */
  }
}
