.item-detail {
  padding: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-detail h2 {
  font-family: var(--stylized-font);
  margin-bottom: 10px;
  text-align: center;
}

.item-detail-content {
  max-width: 95%;
}

.item-detail-main-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-detail-main-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 5px;
}

.item-detail table,
.item-detail .info {
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 500px;
}

.item-detail table th {
  text-align: right;
  padding-right: 15px;
  color: var(--dark-brown);
  font-weight: unset;
}

.item-detail table th,
.item-detail table td {
  width: 50%;
}

.item-detail .info {
  background-color: #fef9d6;
}

/* Villager ItemDetail *******************************************************/
.villager-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.personality-info {
  padding-left: 5%;
}

/* Critter ItemDetail ************************************************************/
.critter-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.museum-description {
  padding: 20px;
  background-color: #fef9d6;
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-right: 15%;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
}

.museum-description p {
  padding-top: 5px;
}

.detailed-img {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  background-color: lightsteelblue;
  border-radius: 20px;
}

/* Furniture ItemDetail ************************************************************/
.furniture-details,
.artwork-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.variants-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 500px;
}

.variants-container-wrapper .scroll-arrow {
  color: gray;
  font-size: 18pt;
  width: 0px;
}

.scroll-arrow.left,
.scroll-arrow.right {
  position: relative;
}

.scroll-arrow.right {
  left: 10px;
}

.scroll-arrow.left {
  right: 20px;
}

.variants-container {
  overflow-y: none !important;
  /* Hide scrollbar: IE and Edge */
  /* -ms-overflow-style: none;  */
  /* Hide scrollbar: Firefox */
  /* scrollbar-width: none;  */
  /* scrollbar-width: none; */

  display: flex;
  flex-flow: nowrap;

  background-color: lightblue;
  border-radius: 10px;
  padding: 5px;

  overflow: scroll;
}

.variants-container::-webkit-scrollbar {
  /* Hide scrollbar: Chrome, Safari and Opera */
  /* display: none; */
}

.variants-container img {
  cursor: pointer;
  width: 100px;
  min-width: 30%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-right: 5px;
}

.variants-container img:last-of-type {
  margin-right: 0px;
}
