.card-wrapper {
  justify-self: center;
  padding: 5px;
  width: 100%;
}

/* .card-wrapper > * {
  display: flex;
  flex-direction: column;
} */

@media (hover: hover) {
  .filter-btn:hover {
    background-color: #ded;
  }
}
