.card-wrapper {
  justify-self: center;
  /* display: flex; */
  /* justify-content: center; */
  padding: 5px;
  /* max-width: 200px; */
  width: 100%;
}

.card-wrapper > * {
  display: flex;
  flex-direction: column;
}

/* Class 'main-img' selects the main image of child elements nesteded in a CardWrapper. */
.card-wrapper .main-img {
  justify-self: center;
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
}

@media (hover: hover) {
  .filter-btn:hover {
    background-color: #ded;
  }
}
