.hero {
  background-color: whitesmoke;
  width: 100%;
  height: 190px;
  height: 20vw;

  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;

  display: flex;
  /* justify-content: left; */
  align-items: center;
}

.hero h1 {
  font-size: 30pt;
  margin-left: 5%;
}

.hero h1 mark {
  padding: 10px;
  background-color: var(--light-blue);
  color: white;
}
