.filter-option {
  display: inline-block;
  width: 150px;
  height: 40px;

  padding-top: 0px;
  line-height: 35px;

  text-align: center;
  border-radius: 50%;

  transition: background-color 0.1s;
}

.filter-option-null {
  background-color: white;
}
.filter-option-true {
  background-color: lightgreen;
}
.filter-option-false {
  background-color: lightcoral;
}
.filter-option:hover {
  background-color: #ded;
}
