.filter-option {
  padding: 25px !important;
}

/* .filter-btn is a CSS class that is applied from: src/components/ItemFilter/FilterButton/FilterButton.css" */
.filter-btn.filter-option-true {
  background-color: lightgreen;
}
.filter-btn.filter-option-false {
  background-color: lightcoral;
}
.filter-btn.filter-option:hover {
  background-color: #ded;
}
