.item-filter {
}

.filter-option {
  display: inline-block;
  width: 150px;
  height: 40px;

  padding-top: 0px;
  line-height: 35px;

  text-align: center;
  border-radius: 50%;

  transition: background-color 0.1s;
}

.filter-option-null {
  background-color: white;
}
.filter-option-true {
  background-color: lightgreen;
}
.filter-option-false {
  background-color: lightcoral;
}
.filter-option:hover {
  background-color: #ded;
}

.item-search-field-wrapper {
  margin: 7px 10px;
  position: relative;
  display: flex;
  min-width: 100px;
}

.item-search-field {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 200px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.item-search-field:hover,
.item-search-field:focus {
  border: 1px solid #009688;
  background-color: white;
}

.search-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
}
