.item-card {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.item-card p {
  text-align: center;
}

.item-card-img-container {
  flex: 1;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-img {
  padding: 15px;
  width: 100%;
}
