.item-card {
  cursor: pointer;
}

.item-card p {
  text-align: center;
}

.main-img {
  justify-self: center;
  /* width: 100%;
  height: auto; */
  width: auto;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
}
