.outside-modal {
  z-index: 10;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
}

.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 100%;
  flex-direction: column;
  max-width: 90vw;
  max-height: 80vh;
}

.modal-close {
  z-index: 11;
  position: relative;
  top: -3%;
  left: 90%;

  border: none;
  font-size: 36pt;
  line-height: 0px;
  width: 70px;
  height: 70px;
  cursor: pointer;

  background-color: red;
  color: #aaa;
  color: white;
  border-radius: 50%;
}

.modal {
  z-index: 10;
  display: unset;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: auto;

  max-width: 90vw;
  max-height: 80vh;
  overflow: scroll;

  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
}
