.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 10;

  box-sizing: unset;

  height: var(--navbar-height);

  background-color: white;
  background-color: var(--light-blue);

  border-top: 20px solid orange;
  border-bottom: 5px solid white;

  transition: border-top 0.5s;
  transition: height 0.5s;

  overflow-y: hidden;
}

.navbar-content {
  height: 100%;
  width: 100%;
  border-top: 5px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-columns: 2fr 1fr 4fr;
  /* grid-template-columns: 1fr 1fr; */
}

.navbar .logo-wrapper {
  margin: auto;
  grid-column: 1 / 2;
  height: 90%;
}

.navbar ul {
  margin: auto;
  grid-column: 3 / 4;
  /* grid-column: 2 / 3; */
  /* grid-column: 2 / 4; */
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: auto 10px;
}

.navbar ul li a {
  font-family: var(--stylized-font);
  color: var(--light-font-color);
  font-size: 13pt;
}

.navbar ul li a.active {
  color: rgb(255, 196, 85);
}

.navbar.shrunk {
  border-top: 10px solid orange;
  height: 60px;
}

#hamburger {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  width: 25px;
}

.hamburger-bar {
  background-color: white;
  display: block;
  /* width: 25px; */
  width: 100%;
  height: 3px;
  margin: 5px auto;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Mobile view; hamburger menu ***********************************************/
/* @media (max-width: 768px) { */
@media (max-width: 720px) {
  .navbar-content {
    grid-template-columns: 2fr 0fr 2fr;
  }

  #hamburger {
    display: block;
    grid-column: 3 / 4;
    margin: auto;
  }

  #hamburger.active .hamburger-bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-menu {
    position: fixed;
    left: -100%;

    top: var(--navbar-height);
    padding-bottom: 200vh; /* How far the menu background extends down */

    gap: 0;
    flex-direction: column;
    background-color: var(--light-blue);

    width: 100%;

    transition: 0.3s;
  }

  .navbar-menu li {
    margin: 0px !important;
    padding: 10px 20px 10px 10px;
    border-bottom: 2px solid #d3d3d342;
    text-align: right;
  }

  .navbar ul li a {
    font-size: 18pt;
  }

  .navbar-menu.active {
    left: -40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
