.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 10;

  box-sizing: unset;

  height: var(--navbar-height);

  background-color: white;
  background-color: var(--light-blue);

  border-top: 20px solid orange;
  border-bottom: 5px solid white;

  transition: border-top 0.5s;
  transition: height 0.5s;

  overflow-y: hidden;
}

.navbar-content {
  height: 100%;
  width: 100%;
  border-top: 5px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr; */
}

.navbar .logo-wrapper {
  margin: auto;
  grid-column: 1 / 2;
  height: 90%;
}

.navbar ul {
  margin: auto;
  grid-column: 3 / 4;
  /* grid-column: 2 / 3; */
  /* grid-column: 2 / 4; */
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: auto 10px;
}

.navbar ul li a {
  font-family: var(--stylized-font);
  color: var(--light-font-color);
}

.navbar.shrunk {
  border-top: 10px solid orange;
  height: 60px;
}
