:root {
  --light-blue: #5691f9;
  --light-gray: #f1f1f1;
  --navbar-height: 90px;
  --stylized-font: "Roboto Slab", serif;
  --default-font: "M PLUS Rounded 1c", sans-serif;
  --dark-font-color: black;
  --light-font-color: white;
  --light-orange: #ffe46b;
  --dark-brown: #884c14;
}

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--default-font);
  line-height: 1.3em;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--dark-font-color);
}

body {
  background-color: white;
}

.stylized-font {
  font-family: var(--stylized-font);
}

.clickable {
  cursor: pointer;
}

.no-select {
  user-select: none;
}
