.stylized-font { font-family: 'Roboto Slab', serif; }

.clickable { cursor: pointer; }

.no-select { user-select: none; }

.main-logo {
  margin: 0px auto 0px auto ;
  width: 40vw;
  height: auto;
  display: block;
}

body {
  font-family: arial;
  /* background-color: darkseagreen; */
  /* background: linear-gradient(0deg, #FDBB2D 0%, #22C1C3 100%); */
  /* background: linear-gradient(180deg, #FDBB2D 0%, #3A1C71 100%); */
  /* background: linear-gradient(180deg, #FDBB2D 0%, #58ac54 100%);  */
  background: linear-gradient(180deg, #68a4fc 0%, #58ac54 120%);
}

/* For primary components like NavBar and ItemCatalog */
.center-justify {
  max-width: 800px;
  /* min-width: 300px; */
  min-width: 400px;
  margin: auto;
}

/* NavBar */
.nav-bar {
  color: white;
  background-color: #58ac54;

  padding: 30px;

  border-radius: 5px;
}

.nav-bar span {
  padding: 20px;
}

.nav-bar div span:hover {
  background-color: #448340;
}

/* ItemCatalog *************************************/
.item-catalog {
  /* max-width: 800px; */
  /* min-width: 300px; */
  /* margin: auto; */

  /* background-color: #fffce4; */
  background-color: #d8a45c;
  /* border-radius: 2% 2% 0px 0px; */
  border-radius: 30px 30px 0px 0px;
}

.item-catalog h2 {
  border-radius: 20px 20px 0px 0px;
  background-color: #ffb56b;
  margin: 10px auto 5px auto;
  padding: 10px 10px 10px 20px;
  font-size: 18pt;
}

.item-list-content {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.55fr));
  justify-content: space-evenly;
  /* background-color: #fffce4; */
}

/* Item Sorter *************************************/
.item-sorter-button {
  cursor: pointer;
}

.item-sorter-options {
  cursor: pointer;
  background-color: grey;
}

.item-sorter-options :hover {
  background-color: white;
}

.item-sorter-option-active {
  background-color: lightgreen;
}

/* Item Filter *************************************/
.item-filter { }

.filter-option {
  display: inline-block;
  width: 150px;
  height: 40px;

  padding-top: 0px;
  line-height: 35px;

  text-align: center;
  border-radius: 50%;

  transition: background-color 0.1s;
}

.filter-option-null { background-color: white; }
.filter-option-true { background-color: lightgreen; }
.filter-option-false { background-color: lightcoral; }
.filter-option:hover { background-color: #ded; }

.item-search-field-wrapper {
  margin: 7px 10px;
  position: relative;
  display: flex;
  min-width: 100px;
}

.item-search-field {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 30%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.item-search-field:hover, .item-search-field:focus {
  border: 1px solid #009688;
  background-color: white;
}

.search-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
}

/* Collapsible menu *****************/
.collapsible-btn {
  background-color: #ffe46c;
  color: #884c14;
  cursor: pointer;
  padding: 10px 18px 10px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 20px 20px 3px 3px;
  border-bottom: #884c141a solid 4px;
  transition: background-color 0.1s;
}

.collapsible-btn:hover { background-color: #e6bb00; }

.collapsible-content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #fffce4;
  max-height: 0px;
  transition: max-height 0.5s;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  column-gap: 20px;

  border-radius: 0px 0px 6px 6px;
}

.collapsible-content .filter-option {
  font-size: 11pt;
}

.collapsible-active {
  max-height: 500px;
}

/* Pagination ***************************************/
.pagination {
  margin: 5px 5px;
}

.pagination button {
  font-size: 15pt;
  line-height: 3px;

  background-color: #c83c24;
  color: #f0c434;
  
  padding: 10px 20px 14px 20px;
  margin: 5px;

  display: inline-block;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

/* ItemCard ***************************************/
.item-card {
  position: relative;
  /* background-color: white; */
  background-color: #fffce4;
  height: 300px;
  text-align: center;

  border-radius: 10px;
  border: 1px solid #884c141a;
}

.item-card:hover { 
  background-color: #fcfae8;
  /* background-color: #D2E4D2; */
}

.item-label {
  margin-left: 10px;
  text-align: left;
  line-height: 5px;
}

.item-label :first-child {
  line-height: 15pt;
}

/* Cycle color variant button */
.variation-btn {
  position: absolute;
  text-align: center;

  color: #884c14;
  background-color: none;

  margin: 0;
  padding: 20px;
  line-height: 0pt;
  font-size: 28pt;

  width: 25px;
  height: 25px;
  border-radius: 10px;
  
  transition: font-size 0.66s;
}

.variation-btn:hover { font-size: 48pt; }

.variation-btn-right {
  top: 50px;
  right: 0px;
}

.variation-btn-left {
  top: 50px;
}

/* ItemDetail.js ***************************************/
.item-detail-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: 0, 0, 0, 0.5;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.item-detail-modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  border: 4px solid #884c141a;
  width: 70%; /* Could be more or less, depending on screen size */
  height: 420px;
  border-radius: 10px;
}

.item-detail-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.item-detail-modal-content h3 {
  line-height: 5px;
}

.item-detail-variations {
  display: inline-block;
  max-width: 320px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fffce4;
  /* white-space:nowrap; */
  border-radius: 10px;
}

.item-detail-variations-img {
  border-radius: 10px;
  width: 70px;
  height: 'auto';
  margin: 5px;
  background-color: white;
}

.item-detail-variations-img:hover { background-color: #D2E4D2; }

/* Footer ******************************/
.footer {

}
