:root {
  --light-blue: #5691f9;
  --navbar-height: 90px;
}

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: white;
}

.stylized-font {
  font-family: "Roboto Slab", serif;
}

.clickable {
  cursor: pointer;
}

.no-select {
  user-select: none;
}
