.homepage {
  background-color: #ffdab9;
  background: repeating-linear-gradient(
    45deg,
    #e5e5f7 0.01px,
    #ffffff 5px,
    #ffdab9 5px,
    #ffdab9 25px
  );
}

.homepage .welcome {
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px 20px;
}

.homepage .welcome-title-bg {
  min-width: 300px;
  margin-bottom: 20px;

  height: 300px;
  max-height: 30vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.homepage .welcome-title-bg h1 {
  font-family: var(--stylized-font);
  font-size: 30pt;
  color: var(--light-font-color);
  background-color: var(--light-blue);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homepage h2 {
  font-family: var(--stylized-font);
  color: var(--light-font-color);
  text-align: center;
}

.homepage .explore-by-category-wrapper {
  padding: 75px 0px;
  background-color: var(--light-blue);
  border: 2px solid orange;
  border-width: 5px 0px;
}

.homepage .explore-by-category {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.homepage section {
  padding: 20px;
  max-width: 400px;
  background-color: white;
  border-radius: 10%;
}

.homepage section p {
  margin-bottom: 10px;
}

.homepage nav {
  padding: 0px 20px;
  background-color: var(--light-blue);
}

.homepage nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  list-style: none;

  margin: auto;
  max-width: 800px;
}

.homepage nav li {
  padding: 15px;
  cursor: pointer;

  font-size: 15pt;
  min-width: 100px;
  width: 31%;
  width: 31%;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #619bff;
  border-radius: 50%;
}

.homepage nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (hover: hover) { */
.homepage nav li:hover {
  background-color: #6ca2ff;
}
/* } */

.homepage nav li img {
  width: 50%;
  padding-bottom: -10%;
}

@media (max-width: 720px) {
  .homepage nav {
    padding: 0px 0px;
  }

  .homepage nav li {
    width: 40%;
  }
}

.homepage nav a {
  text-align: center;
  color: var(--light-font-color);
  font-family: var(--stylized-font);
}
