/* .item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item-card img {
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 75%;
  height: auto;
}

.item-card .variant-btns {
  position: absolute;
}

.item-card .variant-btn {
  cursor: pointer;
  position: relative;

  font-size: 28pt;
}

.item-card .variant-btn-left {
  left: -75px;
}

.item-card .variant-btn-right {
  left: 75px;
} */
