/* ItemCard ***************************************/
.item-card {
  position: relative;
  /* background-color: white; */
  background-color: #fffce4;
  height: 300px;
  text-align: center;

  border-radius: 10px;
  border: 1px solid #884c141a;
}

.item-card:hover {
  background-color: #fcfae8;
  /* background-color: #D2E4D2; */
}

.item-label {
  margin-left: 10px;
  text-align: left;
  line-height: 5px;
}

.item-label :first-child {
  line-height: 15pt;
}

/* Cycle color variant button */
.variation-btn {
  position: absolute;
  text-align: center;

  color: #884c14;
  background-color: none;

  margin: 0;
  padding: 20px;
  line-height: 0pt;
  font-size: 28pt;

  width: 25px;
  height: 25px;
  border-radius: 10px;

  transition: font-size 0.66s;
}

.variation-btn:hover {
  font-size: 48pt;
}

.variation-btn-right {
  top: 50px;
  right: 0px;
}

.variation-btn-left {
  top: 50px;
}
