.item-list-content {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.55fr));
  justify-content: space-evenly;
}
