.item-list {
  min-height: 50vh;
}

.item-list-content {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(30%, 175px));
  justify-content: center;
}

.item-list-content.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 50px auto;
}

.item-list-content.no-items > * {
  margin-bottom: 15px;
  font-family: var(--stylized-font);
}

.mr-resetti {
  height: auto;
  width: min(50%, 250px);
  animation: bounce 0.5s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transform: translate3d(0, 0px, 0);
  }
  60% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
  }
}

.item-list-content.no-items p {
  margin-bottom: 15px;
  font-family: var(--default-font);
}

/* Mobile view ***************************************************************/
@media (max-width: 720px) {
  .item-list {
    margin: unset;
  }

  .item-list-content {
    grid-template-columns: repeat(auto-fill, min(33%, 175px));
  }
}
